.cocktail__banner {
  display: block;
  background-position: center center;
  background-size: cover;
  padding: 250px 0;
  text-align: center;
  color: #fff;

  h1 {
    margin: 0;
  }
}

.cocktail__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cocktail__ingredients {
  background-color: #fff;
}

.ingredients__list {
  margin-bottom: 25px;
}

.ingredients__item {
  margin-bottom: 10px;
}

.reviews__list {
  margin-bottom: 50px;
}


.review {
  text-align: center;
}

.review__stars {
  margin-bottom: 15px;

  .fa-star {
    color: $primary-color;
  }

  .fa-star.star--empty {
    opacity: 0.25;
  }
}
