.cocktail__banner {
  display: block;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    width: 100%;
  }

  p {
    margin-top: 30px;
  }
}

.cocktail__description {
  font-size: 1.2rem;
}

.cocktail__actions {
  position: absolute;
  bottom: 30px;
  right: 30px;

  .btn {
    color: $dark;
    background-color: rgba(255, 255, 255, 0.85);
    margin-left: 15px;

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

.cocktail__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .cocktail:nth-child(n + 5) {
    margin-top: 30px;
  }
}

.cocktail__ingredients {
  background-color: #fff;
}

.ingredients__list {
  margin-bottom: 25px;
}

.ingredients__item {
  margin-bottom: 10px;

  a {
    color: $dark;
  }
}

.reviews__list {
  margin-bottom: 50px;
}


.review {
  text-align: center;
  position: relative;

  &:nth-child(n + 5) {
    margin-top: 30px;
  }
}

.review__stars {
  margin-bottom: 15px;

  .fa-star {
    color: $primary-color;
  }

  .fa-star.star--empty {
    opacity: 0.25;
  }
}

.review__delete {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: $dark;
  }
}

.review:hover .review__delete {
  opacity: 1;
}
