header {
  background-color: #fff;
  padding: 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}


.logo {
  font-family: $headers-font;
  font-weight: 900;
  font-size: 1.8rem;
  font-style: italic;
  color: $dark;
}
