<footer>
  <div class="container">
    <p>This tiny app was made with <%= icon('fas', 'heart') %> at <a href="https://www.lewagon.com/fr/lyon" target="_blank">Le Wagon Lyon</a> by <a href="http://www.etiennedelorieux.com" target="_blank">Etienne Delorieux</a></p>
  </div>
</footer>
